<!-- Jumbotron -->
<div
  class="relative w-full h-[400px] mt-24 overflow-hidden bg-[url('https://www.maderacollege.edu/_images/banner/truck-driving.jpg')] bg-cover bg-no-repeat p-12 text-center text-white">
  <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-black/60 bg-fixed">
    <div class="flex h-full items-center justify-center">
      <div class="text-white">
        <h2 class="mb-4 text-4xl font-semibold">Class A Services</h2>
        <h4 class="mb-6 text-xl font-semibold">Professional, Personal, recrutiment services for todays truck driver</h4>
        <div class="flex justify-evenly w-full">
          <button
            type="button"
            class="inline-block rounded border-2 border-neutral-50 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-300 hover:text-neutral-200 focus:border-neutral-300 focus:text-neutral-200 focus:outline-none focus:ring-0 active:border-neutral-300 active:text-neutral-200 dark:hover:bg-neutral-600 dark:focus:bg-neutral-600"
            data-twe-ripple-init
            data-twe-ripple-color="light">
            Register Today
          </button>
          <button
            type="button"
            class="inline-block rounded border-2 border-neutral-50 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-300 hover:text-neutral-200 focus:border-neutral-300 focus:text-neutral-200 focus:outline-none focus:ring-0 active:border-neutral-300 active:text-neutral-200 dark:hover:bg-neutral-600 dark:focus:bg-neutral-600"
            data-twe-ripple-init
            data-twe-ripple-color="light">
            Search A Job
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->
<div class="container">
  <div class="flex flex-col justify-center items-center my-2 p-2">
    <h2 class="text-2xl py-2">Ready for the Perfect Career</h2>
    <p>
      Complete the application below and let's get started on finding the driving career that's right for you.
    </p>
  </div>
</div>
<div class="flex flex-col justify-center items-center w-full">
  <div class="w-full md:max-w-2xl px-3 bg-zinc-100 rounded">
    <%= render "on_boardings/form", on_boarding: @on_boarding %>
  </div>
</div>
</div>
