<section class="container">
  <div class="flex flex-col justify-center items-center w-full">
    <!--top banner-->
    <div class="flex justify-between items-center w-full md:max-w-2xl px-3 bg-zinc-100 rounded">
      <h2 class="text-2xl font-bold">Class A Services</h2>
      <div>
        <span>Class A Services</span>
        <p>2363 Eden Terrace</p>
        <p>Rock Hill, SC 29732</p>
        <p>work number</p>
      </div>
    </div>
    <hr class="h-1"/>
    <div class="flex flex-col justify-center items-center w-full md:max-w-2xl px-3 py-4 bg-zinc-100 rounded">
      <div class="flex-col">
        <p class="my-2">Thank you for your interest in Class A Services. Please complete this online application to apply for a driving job. Incomplete information will delay the processing of your application for employment or prevent it from being submitted.</p>
        <p class="my-2">
          In compliance with Federal and State equal employment opportunity laws, qualified applicants are considered for all positions without regard to race, color, religion, sex, national origin, age, marital status, veteran status, non-job related disability, or any other protected group status.
        </p>
        <p class="my-2 font-semibold">
          You will need the following to complete this form:
        </p>
        <ul class="ps-4 py-2 bg-zinc-50">
          <li class="flex items-center h-full">
            <svg id='Check_Mark_Button_32' width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>
              <g transform="matrix(0.58 0 0 0.58 16 16)" >
                <g style="" >
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGb_1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="7.5" y1="7" x2="7.5" y2="41">
                      <stop offset="0%" style="stop-color:rgb(162,255,148);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(39,196,17);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGb_1); fill-rule: nonzero; opacity: 1;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGa_2" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="-9" y1="24" x2="24" y2="24">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGa_2); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 -1 1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGc_3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1420.27 180)" x1="-1395" y1="-180" x2="-1362" y2="-180">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGc_3); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(-1 0 0 -1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGd_4" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1216.27 1608)" x1="-1197" y1="-1608" x2="-1164" y2="-1608">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGd_4); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 1 -1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGe_5" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -211.73 1404)" x1="189" y1="-1404" x2="222" y2="-1404">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGe_5); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0.02 0.64)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGf_6" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1 0 0 1 0 0)" x1="24.027" y1="15.291" x2="24.027" y2="34">
                      <stop offset="37.5%" style="stop-color:rgb(255,255,255);stop-opacity: 1"/>
                      <stop offset="60.6%" style="stop-color:rgb(252,252,253);stop-opacity: 1"/>
                      <stop offset="78.4%" style="stop-color:rgb(242,242,246);stop-opacity: 1"/>
                      <stop offset="94.3%" style="stop-color:rgb(226,226,235);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(218,218,230);stop-opacity: 1"/>
                    </linearGradient>
                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGf_6); fill-rule: nonzero; opacity: 1;" transform=" translate(-24.02, -24.64)" d="M 22 34 C 21.46961037304237 33.99988672518901 20.960985462714916 33.78909874962191 20.586 33.414 L 11.390999999999998 24.172 C 11.000618061667135 23.781500148514187 11.000618061667135 23.148499851485813 11.390999999999998 22.758 L 12.804999999999998 21.343999999999998 C 13.195499851485812 20.953618061667136 13.828500148514184 20.953618061667136 14.218999999999998 21.343999999999998 L 21.906 29.076999999999998 L 33.7 15.63 C 33.87510175103054 15.430570191405671 34.12229730784378 15.308924295715979 34.387139788270076 15.291855835575191 C 34.65198226869637 15.274787375434403 34.91274758415197 15.363696416041615 35.112 15.539000000000001 L 36.612 16.860000000000003 C 37.02665885736605 17.224560550745235 37.06739507284194 17.856195715981258 36.703 18.271000000000004 L 23.5 33.32 C 23.13576781507442 33.73523366932403 22.61602920350825 33.98134944638879 22.064 34 Z" stroke-linecap="round" />
                  </g>
                </g>
              </g>
            </svg>
            <span class="w-10/12 ps-1">Social Security Number</span>
          </li>
          <li class="flex items-center h-full bg-zinc-100 rounded">
            <svg id='Check_Mark_Button_32' width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>
              <g transform="matrix(0.58 0 0 0.58 16 16)" >
                <g style="" >
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGb_1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="7.5" y1="7" x2="7.5" y2="41">
                      <stop offset="0%" style="stop-color:rgb(162,255,148);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(39,196,17);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGb_1); fill-rule: nonzero; opacity: 1;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGa_2" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="-9" y1="24" x2="24" y2="24">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGa_2); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 -1 1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGc_3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1420.27 180)" x1="-1395" y1="-180" x2="-1362" y2="-180">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGc_3); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(-1 0 0 -1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGd_4" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1216.27 1608)" x1="-1197" y1="-1608" x2="-1164" y2="-1608">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGd_4); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 1 -1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGe_5" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -211.73 1404)" x1="189" y1="-1404" x2="222" y2="-1404">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGe_5); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0.02 0.64)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGf_6" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1 0 0 1 0 0)" x1="24.027" y1="15.291" x2="24.027" y2="34">
                      <stop offset="37.5%" style="stop-color:rgb(255,255,255);stop-opacity: 1"/>
                      <stop offset="60.6%" style="stop-color:rgb(252,252,253);stop-opacity: 1"/>
                      <stop offset="78.4%" style="stop-color:rgb(242,242,246);stop-opacity: 1"/>
                      <stop offset="94.3%" style="stop-color:rgb(226,226,235);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(218,218,230);stop-opacity: 1"/>
                    </linearGradient>
                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGf_6); fill-rule: nonzero; opacity: 1;" transform=" translate(-24.02, -24.64)" d="M 22 34 C 21.46961037304237 33.99988672518901 20.960985462714916 33.78909874962191 20.586 33.414 L 11.390999999999998 24.172 C 11.000618061667135 23.781500148514187 11.000618061667135 23.148499851485813 11.390999999999998 22.758 L 12.804999999999998 21.343999999999998 C 13.195499851485812 20.953618061667136 13.828500148514184 20.953618061667136 14.218999999999998 21.343999999999998 L 21.906 29.076999999999998 L 33.7 15.63 C 33.87510175103054 15.430570191405671 34.12229730784378 15.308924295715979 34.387139788270076 15.291855835575191 C 34.65198226869637 15.274787375434403 34.91274758415197 15.363696416041615 35.112 15.539000000000001 L 36.612 16.860000000000003 C 37.02665885736605 17.224560550745235 37.06739507284194 17.856195715981258 36.703 18.271000000000004 L 23.5 33.32 C 23.13576781507442 33.73523366932403 22.61602920350825 33.98134944638879 22.064 34 Z" stroke-linecap="round" />
                  </g>
                </g>
              </g>
            </svg>
            <span class="w-10/12 ps-1">Home address history for the past 3 years</span>
          </li>
          <li class="flex items-center h-full">
            <svg id='Check_Mark_Button_32' width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>
              <g transform="matrix(0.58 0 0 0.58 16 16)" >
                <g style="" >
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGb_1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="7.5" y1="7" x2="7.5" y2="41">
                      <stop offset="0%" style="stop-color:rgb(162,255,148);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(39,196,17);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGb_1); fill-rule: nonzero; opacity: 1;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGa_2" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="-9" y1="24" x2="24" y2="24">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGa_2); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 -1 1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGc_3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1420.27 180)" x1="-1395" y1="-180" x2="-1362" y2="-180">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGc_3); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(-1 0 0 -1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGd_4" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1216.27 1608)" x1="-1197" y1="-1608" x2="-1164" y2="-1608">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGd_4); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 1 -1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGe_5" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -211.73 1404)" x1="189" y1="-1404" x2="222" y2="-1404">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGe_5); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0.02 0.64)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGf_6" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1 0 0 1 0 0)" x1="24.027" y1="15.291" x2="24.027" y2="34">
                      <stop offset="37.5%" style="stop-color:rgb(255,255,255);stop-opacity: 1"/>
                      <stop offset="60.6%" style="stop-color:rgb(252,252,253);stop-opacity: 1"/>
                      <stop offset="78.4%" style="stop-color:rgb(242,242,246);stop-opacity: 1"/>
                      <stop offset="94.3%" style="stop-color:rgb(226,226,235);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(218,218,230);stop-opacity: 1"/>
                    </linearGradient>
                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGf_6); fill-rule: nonzero; opacity: 1;" transform=" translate(-24.02, -24.64)" d="M 22 34 C 21.46961037304237 33.99988672518901 20.960985462714916 33.78909874962191 20.586 33.414 L 11.390999999999998 24.172 C 11.000618061667135 23.781500148514187 11.000618061667135 23.148499851485813 11.390999999999998 22.758 L 12.804999999999998 21.343999999999998 C 13.195499851485812 20.953618061667136 13.828500148514184 20.953618061667136 14.218999999999998 21.343999999999998 L 21.906 29.076999999999998 L 33.7 15.63 C 33.87510175103054 15.430570191405671 34.12229730784378 15.308924295715979 34.387139788270076 15.291855835575191 C 34.65198226869637 15.274787375434403 34.91274758415197 15.363696416041615 35.112 15.539000000000001 L 36.612 16.860000000000003 C 37.02665885736605 17.224560550745235 37.06739507284194 17.856195715981258 36.703 18.271000000000004 L 23.5 33.32 C 23.13576781507442 33.73523366932403 22.61602920350825 33.98134944638879 22.064 34 Z" stroke-linecap="round" />
                  </g>
                </g>
              </g>
            </svg>
            <span class="w-10/12 ps-1">Current driver license number and history for the past 3 years</span>
          </li>
          <li class="flex items-center h-full bg-zinc-100 rounded">
            <svg id='Check_Mark_Button_32' width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>
              <g transform="matrix(0.58 0 0 0.58 16 16)" >
                <g style="" >
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGb_1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="7.5" y1="7" x2="7.5" y2="41">
                      <stop offset="0%" style="stop-color:rgb(162,255,148);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(39,196,17);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGb_1); fill-rule: nonzero; opacity: 1;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGa_2" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="-9" y1="24" x2="24" y2="24">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGa_2); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 -1 1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGc_3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1420.27 180)" x1="-1395" y1="-180" x2="-1362" y2="-180">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGc_3); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(-1 0 0 -1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGd_4" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1216.27 1608)" x1="-1197" y1="-1608" x2="-1164" y2="-1608">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGd_4); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 1 -1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGe_5" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -211.73 1404)" x1="189" y1="-1404" x2="222" y2="-1404">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGe_5); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0.02 0.64)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGf_6" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1 0 0 1 0 0)" x1="24.027" y1="15.291" x2="24.027" y2="34">
                      <stop offset="37.5%" style="stop-color:rgb(255,255,255);stop-opacity: 1"/>
                      <stop offset="60.6%" style="stop-color:rgb(252,252,253);stop-opacity: 1"/>
                      <stop offset="78.4%" style="stop-color:rgb(242,242,246);stop-opacity: 1"/>
                      <stop offset="94.3%" style="stop-color:rgb(226,226,235);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(218,218,230);stop-opacity: 1"/>
                    </linearGradient>
                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGf_6); fill-rule: nonzero; opacity: 1;" transform=" translate(-24.02, -24.64)" d="M 22 34 C 21.46961037304237 33.99988672518901 20.960985462714916 33.78909874962191 20.586 33.414 L 11.390999999999998 24.172 C 11.000618061667135 23.781500148514187 11.000618061667135 23.148499851485813 11.390999999999998 22.758 L 12.804999999999998 21.343999999999998 C 13.195499851485812 20.953618061667136 13.828500148514184 20.953618061667136 14.218999999999998 21.343999999999998 L 21.906 29.076999999999998 L 33.7 15.63 C 33.87510175103054 15.430570191405671 34.12229730784378 15.308924295715979 34.387139788270076 15.291855835575191 C 34.65198226869637 15.274787375434403 34.91274758415197 15.363696416041615 35.112 15.539000000000001 L 36.612 16.860000000000003 C 37.02665885736605 17.224560550745235 37.06739507284194 17.856195715981258 36.703 18.271000000000004 L 23.5 33.32 C 23.13576781507442 33.73523366932403 22.61602920350825 33.98134944638879 22.064 34 Z" stroke-linecap="round" />
                  </g>
                </g>
              </g>
            </svg>
            <span class="w-10/12 ps-1">Employment history for the past 10 years</span>
          </li>
          <li class="flex items-center h-full">
            <svg id='Check_Mark_Button_32' width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>
              <g transform="matrix(0.58 0 0 0.58 16 16)" >
                <g style="" >
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGb_1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="7.5" y1="7" x2="7.5" y2="41">
                      <stop offset="0%" style="stop-color:rgb(162,255,148);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(39,196,17);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGb_1); fill-rule: nonzero; opacity: 1;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGa_2" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="-9" y1="24" x2="24" y2="24">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGa_2); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 -1 1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGc_3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1420.27 180)" x1="-1395" y1="-180" x2="-1362" y2="-180">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGc_3); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(-1 0 0 -1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGd_4" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1216.27 1608)" x1="-1197" y1="-1608" x2="-1164" y2="-1608">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGd_4); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 1 -1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGe_5" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -211.73 1404)" x1="189" y1="-1404" x2="222" y2="-1404">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGe_5); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0.02 0.64)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGf_6" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1 0 0 1 0 0)" x1="24.027" y1="15.291" x2="24.027" y2="34">
                      <stop offset="37.5%" style="stop-color:rgb(255,255,255);stop-opacity: 1"/>
                      <stop offset="60.6%" style="stop-color:rgb(252,252,253);stop-opacity: 1"/>
                      <stop offset="78.4%" style="stop-color:rgb(242,242,246);stop-opacity: 1"/>
                      <stop offset="94.3%" style="stop-color:rgb(226,226,235);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(218,218,230);stop-opacity: 1"/>
                    </linearGradient>
                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGf_6); fill-rule: nonzero; opacity: 1;" transform=" translate(-24.02, -24.64)" d="M 22 34 C 21.46961037304237 33.99988672518901 20.960985462714916 33.78909874962191 20.586 33.414 L 11.390999999999998 24.172 C 11.000618061667135 23.781500148514187 11.000618061667135 23.148499851485813 11.390999999999998 22.758 L 12.804999999999998 21.343999999999998 C 13.195499851485812 20.953618061667136 13.828500148514184 20.953618061667136 14.218999999999998 21.343999999999998 L 21.906 29.076999999999998 L 33.7 15.63 C 33.87510175103054 15.430570191405671 34.12229730784378 15.308924295715979 34.387139788270076 15.291855835575191 C 34.65198226869637 15.274787375434403 34.91274758415197 15.363696416041615 35.112 15.539000000000001 L 36.612 16.860000000000003 C 37.02665885736605 17.224560550745235 37.06739507284194 17.856195715981258 36.703 18.271000000000004 L 23.5 33.32 C 23.13576781507442 33.73523366932403 22.61602920350825 33.98134944638879 22.064 34 Z" stroke-linecap="round" />
                  </g>
                </g>
              </g>
            </svg>
            <span class="w-10/12 ps-1">
              History of traffic accidents, incidents, and/or convictions over the past 3 years. Including DUI, reckless driving, and/or suspensions.
            </span>
          </li>
          <li class="flex items-center h-full bg-zinc-100 rounded">
            <svg id='Check_Mark_Button_32' width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>
              <g transform="matrix(0.58 0 0 0.58 16 16)" >
                <g style="" >
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGb_1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="7.5" y1="7" x2="7.5" y2="41">
                      <stop offset="0%" style="stop-color:rgb(162,255,148);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(39,196,17);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGb_1); fill-rule: nonzero; opacity: 1;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGa_2" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="-9" y1="24" x2="24" y2="24">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGa_2); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 -1 1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGc_3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1420.27 180)" x1="-1395" y1="-180" x2="-1362" y2="-180">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGc_3); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(-1 0 0 -1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGd_4" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1216.27 1608)" x1="-1197" y1="-1608" x2="-1164" y2="-1608">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGd_4); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 1 -1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGe_5" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -211.73 1404)" x1="189" y1="-1404" x2="222" y2="-1404">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGe_5); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0.02 0.64)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGf_6" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1 0 0 1 0 0)" x1="24.027" y1="15.291" x2="24.027" y2="34">
                      <stop offset="37.5%" style="stop-color:rgb(255,255,255);stop-opacity: 1"/>
                      <stop offset="60.6%" style="stop-color:rgb(252,252,253);stop-opacity: 1"/>
                      <stop offset="78.4%" style="stop-color:rgb(242,242,246);stop-opacity: 1"/>
                      <stop offset="94.3%" style="stop-color:rgb(226,226,235);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(218,218,230);stop-opacity: 1"/>
                    </linearGradient>
                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGf_6); fill-rule: nonzero; opacity: 1;" transform=" translate(-24.02, -24.64)" d="M 22 34 C 21.46961037304237 33.99988672518901 20.960985462714916 33.78909874962191 20.586 33.414 L 11.390999999999998 24.172 C 11.000618061667135 23.781500148514187 11.000618061667135 23.148499851485813 11.390999999999998 22.758 L 12.804999999999998 21.343999999999998 C 13.195499851485812 20.953618061667136 13.828500148514184 20.953618061667136 14.218999999999998 21.343999999999998 L 21.906 29.076999999999998 L 33.7 15.63 C 33.87510175103054 15.430570191405671 34.12229730784378 15.308924295715979 34.387139788270076 15.291855835575191 C 34.65198226869637 15.274787375434403 34.91274758415197 15.363696416041615 35.112 15.539000000000001 L 36.612 16.860000000000003 C 37.02665885736605 17.224560550745235 37.06739507284194 17.856195715981258 36.703 18.271000000000004 L 23.5 33.32 C 23.13576781507442 33.73523366932403 22.61602920350825 33.98134944638879 22.064 34 Z" stroke-linecap="round" />
                  </g>
                </g>
              </g>
            </svg>
            <span class="w-10/12 ps-1">Military history (if applicable)</span>
          </li>
        </ul>
        <p class="my-2 bg-zinc-50 p-2">
          Required fields are indicated with "<span class="text-red-400 font-bold text-xl">*</span>", meaning you must provide the requested information to continue. If you encounter any errors during the process and cannot continue, please contact us at (work number)
        </p>
        <h2 class="text-md font-bold">
          To qualify with Class A Services, you must have the following documents:
        </h2>
        <ul class="ps-4 py-2 bg-zinc-50">
          <li class="flex items-center h-full bg-zinc-100 rounded">
            <svg id='Check_Mark_Button_32' width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>
              <g transform="matrix(0.58 0 0 0.58 16 16)" >
                <g style="" >
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGb_1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="7.5" y1="7" x2="7.5" y2="41">
                      <stop offset="0%" style="stop-color:rgb(162,255,148);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(39,196,17);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGb_1); fill-rule: nonzero; opacity: 1;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGa_2" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="-9" y1="24" x2="24" y2="24">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGa_2); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 -1 1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGc_3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1420.27 180)" x1="-1395" y1="-180" x2="-1362" y2="-180">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGc_3); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(-1 0 0 -1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGd_4" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1216.27 1608)" x1="-1197" y1="-1608" x2="-1164" y2="-1608">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGd_4); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 1 -1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGe_5" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -211.73 1404)" x1="189" y1="-1404" x2="222" y2="-1404">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGe_5); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0.02 0.64)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGf_6" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1 0 0 1 0 0)" x1="24.027" y1="15.291" x2="24.027" y2="34">
                      <stop offset="37.5%" style="stop-color:rgb(255,255,255);stop-opacity: 1"/>
                      <stop offset="60.6%" style="stop-color:rgb(252,252,253);stop-opacity: 1"/>
                      <stop offset="78.4%" style="stop-color:rgb(242,242,246);stop-opacity: 1"/>
                      <stop offset="94.3%" style="stop-color:rgb(226,226,235);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(218,218,230);stop-opacity: 1"/>
                    </linearGradient>
                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGf_6); fill-rule: nonzero; opacity: 1;" transform=" translate(-24.02, -24.64)" d="M 22 34 C 21.46961037304237 33.99988672518901 20.960985462714916 33.78909874962191 20.586 33.414 L 11.390999999999998 24.172 C 11.000618061667135 23.781500148514187 11.000618061667135 23.148499851485813 11.390999999999998 22.758 L 12.804999999999998 21.343999999999998 C 13.195499851485812 20.953618061667136 13.828500148514184 20.953618061667136 14.218999999999998 21.343999999999998 L 21.906 29.076999999999998 L 33.7 15.63 C 33.87510175103054 15.430570191405671 34.12229730784378 15.308924295715979 34.387139788270076 15.291855835575191 C 34.65198226869637 15.274787375434403 34.91274758415197 15.363696416041615 35.112 15.539000000000001 L 36.612 16.860000000000003 C 37.02665885736605 17.224560550745235 37.06739507284194 17.856195715981258 36.703 18.271000000000004 L 23.5 33.32 C 23.13576781507442 33.73523366932403 22.61602920350825 33.98134944638879 22.064 34 Z" stroke-linecap="round" />
                  </g>
                </g>
              </g>
            </svg>
            <span class="w-10/12 ps-1">Valid Class A CDL</span>
          </li>
          <li class="flex items-center h-full bg-zinc-100 rounded">
            <svg id='Check_Mark_Button_32' width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>
              <g transform="matrix(0.58 0 0 0.58 16 16)" >
                <g style="" >
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGb_1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="7.5" y1="7" x2="7.5" y2="41">
                      <stop offset="0%" style="stop-color:rgb(162,255,148);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(39,196,17);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGb_1); fill-rule: nonzero; opacity: 1;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGa_2" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -7.73 -24)" x1="-9" y1="24" x2="24" y2="24">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGa_2); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 -1 1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGc_3" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1420.27 180)" x1="-1395" y1="-180" x2="-1362" y2="-180">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGc_3); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(-1 0 0 -1 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGd_4" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 1216.27 1608)" x1="-1197" y1="-1608" x2="-1164" y2="-1608">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGd_4); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(0 1 -1 0 0 0)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGe_5" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.03 0 0 1 -211.73 1404)" x1="189" y1="-1404" x2="222" y2="-1404">
                      <stop offset="0%" style="stop-color:rgb(129,235,115);stop-opacity: 0"/>
                      <stop offset="41%" style="stop-color:rgb(128,234,114);stop-opacity: 0.012"/>
                      <stop offset="55.800000000000004%" style="stop-color:rgb(123,231,109);stop-opacity: 0.055"/>
                      <stop offset="66.3%" style="stop-color:rgb(115,225,101);stop-opacity: 0.13"/>
                      <stop offset="74.9%" style="stop-color:rgb(104,217,89);stop-opacity: 0.237"/>
                      <stop offset="82.1%" style="stop-color:rgb(89,206,73);stop-opacity: 0.376"/>
                      <stop offset="88.6%" style="stop-color:rgb(70,193,54);stop-opacity: 0.548"/>
                      <stop offset="94.3%" style="stop-color:rgb(49,177,32);stop-opacity: 0.747"/>
                      <stop offset="99.5%" style="stop-color:rgb(25,160,7);stop-opacity: 0.977"/>
                      <stop offset="100%" style="stop-color:rgb(22,158,4);stop-opacity: 1"/>
                    </linearGradient>
                    <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGe_5); fill-rule: nonzero; opacity: 0.9;" x="-17" y="-17" rx="3" ry="3" width="34" height="34" />
                  </g>
                  <g transform="matrix(1 0 0 1 0.02 0.64)" >
                    <linearGradient id="SVGID_d0VrwS2LiZYa5fFiyPlpGf_6" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1 0 0 1 0 0)" x1="24.027" y1="15.291" x2="24.027" y2="34">
                      <stop offset="37.5%" style="stop-color:rgb(255,255,255);stop-opacity: 1"/>
                      <stop offset="60.6%" style="stop-color:rgb(252,252,253);stop-opacity: 1"/>
                      <stop offset="78.4%" style="stop-color:rgb(242,242,246);stop-opacity: 1"/>
                      <stop offset="94.3%" style="stop-color:rgb(226,226,235);stop-opacity: 1"/>
                      <stop offset="100%" style="stop-color:rgb(218,218,230);stop-opacity: 1"/>
                    </linearGradient>
                    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_d0VrwS2LiZYa5fFiyPlpGf_6); fill-rule: nonzero; opacity: 1;" transform=" translate(-24.02, -24.64)" d="M 22 34 C 21.46961037304237 33.99988672518901 20.960985462714916 33.78909874962191 20.586 33.414 L 11.390999999999998 24.172 C 11.000618061667135 23.781500148514187 11.000618061667135 23.148499851485813 11.390999999999998 22.758 L 12.804999999999998 21.343999999999998 C 13.195499851485812 20.953618061667136 13.828500148514184 20.953618061667136 14.218999999999998 21.343999999999998 L 21.906 29.076999999999998 L 33.7 15.63 C 33.87510175103054 15.430570191405671 34.12229730784378 15.308924295715979 34.387139788270076 15.291855835575191 C 34.65198226869637 15.274787375434403 34.91274758415197 15.363696416041615 35.112 15.539000000000001 L 36.612 16.860000000000003 C 37.02665885736605 17.224560550745235 37.06739507284194 17.856195715981258 36.703 18.271000000000004 L 23.5 33.32 C 23.13576781507442 33.73523366932403 22.61602920350825 33.98134944638879 22.064 34 Z" stroke-linecap="round" />
                  </g>
                </g>
              </g>
            </svg>
            <span class="w-10/12 ps-1">Valid DOT Medical Card</span>
          </li>
        </ul>
      </div>
      <div class="flex justify-end items-center bg-sky-400 h-11 w-full rounded">
        <%= link_to "Next", "#", class: "bg-white py-1 px-6 rounded mr-6"%>
      </div>
      <div class="flex flex-col justify-center items-center bg-white mt-1 p-2 rounded w-full">
        <p>Privacy Policy</p>
        <small>
          <p>Copywrite 2024, Class A Services</p>
        </small>
      </div>
    </div>
  </div>
</section>