<div class="w-full mt-24">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "On boardings" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">On boardings</h1>
    <%= link_to "New on boarding", new_on_boarding_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div id="on_boardings" class="min-w-full">
    <% @on_boardings.each do |on_boarding| %>
      <%= render on_boarding %>
      <p>
        <%= link_to "Show this on boarding", on_boarding, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
